/* Estilo para todo el documento */
body {
     font-family:"Trebuchet MS";
}
/* Estilo para el titulo del documento */
p {
	 margin: 8px;
	 text-align:justify;
}
/* Estilo para todo cada columna del articulo */
#column1 {
	 margin: 10px;
	 float:left; width: 30%;
	 background:#CFC;
	 text-align:center;
}
#column2 {
	 margin: 10px;
	 float:left; width: 30%;
	 background:#09F;
	 text-align:center;
}
#column3 {
	 margin: 10px;
	 float:left; width: 30%;
	 background:#FFC;
	 text-align:center;
}
/* Estilo para definir ancho y alto de la imagen */
#imagen{
	 width:200px;
	 height:200px;
	 
}