/* Estilo de Fondo */
body {
 background: #FFFFFF;
 font-size: 100%;
 margin: 0;
 font-family:tahoma;
 color: #444;
}
/* Estilo para la lista */
.aside-nav ul {
 background: #e8e8e8;
 padding: 0;
 width: 25%;
}
/* Estilo para los elementos de la lista */
.aside-nav li a {
 display: block;
 padding: 1.25em;
 background:#09F;
 border-bottom: 1px solid #D2D2D2;
}
/* Estilo al posicionar el puntero encima del enlace*/
.aside-nav a: hover {
 color: #fff;
}