	<footer class="container">
		  <p class="float-right"><a href="#">Regresar al inicio</a></p>
		  <p>&copy; 2020 Company, Inc. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos</a></p>
	</footer>